/*
 * CSS-Accordion.
 * Elements:
 *     <input type="checkbox" id="myID">
 *     <label for="myID">Header Text</label>
 *     <div class="content"> ... </div>
 */

input { 
	display: none 
}
label {
    display: block;    
    padding: 8px 22px;
    margin: 0 0 1px 0;
    cursor: pointer;
    background: #ccc;
    border-radius: 3px;
    transition: ease .5s;
}

label:hover {
    background: #aaa;
}
.content {
    padding: 10px 25px;
    border: 1px solid #A7A7A7;
    margin: 0 0 1px 0;
    border-radius: 3px;
}
input + label + .content {
    display: none;
}

input:checked + label + .content {
    display: block;
}		



label::before {
    content: '+ ';
}

input:checked + label::before {
    content: '- ';
}



form input {
	display: inline;
}