/* Index-Page */

.index {
  text-align: center;
}


.lang-choice {
  padding-top: 1em;
}
.lang-choice div {
  display: inline-block;
}
.lang-choice img {
  width: 20em;
  height: 10em;
}




/* Introduction */

.introduction h1 {
  text-align: center;
}
.introduction .navigation {
  text-align: center;
}




/** Processing Exam and showing result */

article {
  padding: 1em;
}
article p {
  padding-top: 0.5em;
}
article td {
  text-align: center;
}
article th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
article td:last-child {
  text-align: left;
}
/* only while doing the exam */
form article td:last-child {
  padding-left: 1em;
}
button img {
  width: 1em;
}
.task-id {
  font-size: 70%;
}

/* All links 'next question please' */
.next-task-link {
}
/* Just the link at the buttom */
input + .next-task-link {
    padding-top: 1em;
}





.master_detail .detail_list {
  background-color: #ccc;
  height: 100%;
  widows: 100%;
}

.master_detail .detail_list article {
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  top: 0;
}

.master_detail .detail_list article.fadeIn {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.master_detail .detail_list article.grow {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


list-group-item img {
  width: 10px;
}


.passed {
  color: green;
}
.failed {
  color: red;
}
