<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="style.css"/>
	<title>ISAQB Foundation - Mock Exam</title>
	<div th:utext="${autoReloadJS}"/>
</head>

<body class="index">
<h1>Mock Exam</h1>

<div>
	Bitte wählen Sie Ihre Sprache.<br>
	Please choose your language.
</div>

<div class="lang-choice">
	<div>
		<a href="introduction.html?language=DE">
			<img alt="DE Flag" src="Flag_DE.png"><br>
			DE
		</a>
	</div>
	<div>	
		<a href="introduction.html?language=EN">
			<img alt="EN Flag" src="Flag_UK.png"><br>
			EN
		</a>
	</div>
</div>

</body>
</html>