<html>
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" href="style.css"/>
	<link rel="stylesheet" href="intro-accordion.css"/>
	<title>ISAQB Foundation - Mock Exam</title>
	<div th:utext="${autoReloadJS}"/>
</head>
<body class="introduction">

<div class="navigation">
  <a href="process-exam.html?mode=exam">Weiter</a>
</div>

<input type="checkbox" id="about"/>
<label for="about">Erläuterungen</label>
<div class="content" th:utext="${html}"/>


<input type="checkbox" id="howToUse"/>
<label for="howToUse">Anleitung zum Mock-Test</label>
<div class="content" th:utext="${howToUse}"/>

<input type="checkbox" id="cookies"/>
<label for="cookies">Cookie Disclaimer</label>
<div class="content" th:utext="${cookieDisclaimer}"/>

<input type="checkbox" id="quiz"/>
<label for="quiz">Quiz-Modus</label>
<div class="content">
	<form action="process-exam.html" method="get">
		Auswahl des Bereichs:
		<select name="quizmode" id="quizmode">
			<option value="-ALL">Alle Fragen</option>
			<option th:each="val : ${quizOptions}" th:attr="value=${val.value}" th:utext="${val.text}"/>
		</select>
		<input type="submit" value="Quiz starten" />
	</form>
</div>

<br>
<div class="navigation">
  <a href="process-exam.html?mode=exam">Weiter</a>
</div>

<hr>
<div th:text="${appversion}"/>

</body>
</html>