<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="intro-accordion.css"/>
    <title>ISAQB Foundation - Mock Exam</title>
    <div th:utext="${autoReloadJS}" th:remove="tag"/>
</head>
<body class="introduction">

<div class="navigation">
  <a href="process-exam.html?mode=exam">Foundation Mock Prüfung</a>
</div>

<input type="checkbox" id="about"/>
<label for="about">Erläuterungen</label>
<div class="content" th:utext="${html}"/>


<input type="checkbox" id="howToUse"/>
<label for="howToUse">Anleitung zum Mock-Test</label>
<div class="content" th:utext="${howToUse}"/>

<input type="checkbox" id="cookies"/>
<label for="cookies">Cookie Disclaimer</label>
<div class="content" th:utext="${cookieDisclaimer}"/>

<input type="checkbox" id="quiz"/>
<label for="quiz">Quiz-Modus</label>
<div class="content">
    <form action="process-exam.html" method="get">
        <b>Auswahl der Bereiche:</b><br>
        <input type="hidden" name="language" th:attr="value=${language}"/>
        <input type="checkbox" name="topic--ALL">Alle Fragen</input><br>
        <div th:remove="tag" th:each="val : ${quizOptions}">
            <input type="checkbox" 
                th:attr="name='topic-' + ${val.value}" 
                th:utext="${val.text}"
            /><br>
        </div>
        <input type="submit" value="Quiz starten" />
    </form>
</div>

<input type="checkbox" id="exam"/>
<label for="exam">Examen</label>
<div class="content">
    <form action="process-exam.html" method="get">
        <input type="hidden" name="language" th:attr="value=${language}"/>
        <input type="hidden" name="mode" value="exam"/>
        <select name="topics" id="topics">
            <option th:each="val : ${exams}" 
                th:attr="value=${val.value}"
                th:utext="${val.text}"
            />
        </select>
        <input type="submit" value="Examen starten" />
    </form>
</div>

<br>
<div class="navigation">
  <a href="process-exam.html?mode=exam">Foundation Mock Prüfung</a>
</div>

<hr>
<div th:text="${appversion}"/>

</body>
</html>